In [1]:
!wget https://drive.google.com/drive/folders/1TxCUq1ydPuBdDdHF3MkHT-8zixluQuLa -O ‘CSpider.zip‘

--2023-04-22 16:55:56--  https://drive.google.com/drive/folders/1TxCUq1ydPuBdDdHF3MkHT-8zixluQuLa
Resolving drive.google.com (drive.google.com)... 142.251.42.238, 2404:6800:4012:3::200e
Connecting to drive.google.com (drive.google.com)|142.251.42.238|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘‘CSpider.zip‘’

‘CSpider.zip‘           [ <=>                ] 226.63K  1.32MB/s    in 0.2s

2023-04-22 16:55:56 (1.32 MB/s) - ‘‘CSpider.zip‘’ saved [232065]

In [1]:
import zipfile
# 開啟 ZIP 壓縮檔
with zipfile.ZipFile('CSpider.zip', 'r') as zf:
    # 列出每個檔案
    for name in zf.namelist():
        # 解壓縮指定檔案至 /my/folder 目錄
        # path 參數可以指定解壓縮後的檔案要放置的位置，若不指定放置路徑，則預設會放在目前所在的目錄之下
        # zf.extract(name, path='/my/folder')
        zf.extract(name)

In [2]:
import os

os.getcwd() # 打印當前工作路徑

'/project/xt121-group11/Data prepare'

In [3]:
os.chdir('./CSpider')

In [148]:
os.getcwd()

'/project/xt121-group11/Data prepare/CSpider'

In [5]:
import json 

with open('train.json') as f:
    jsonFile = json.load(f)

In [6]:
data = jsonFile.copy()

In [7]:
# for i in data:
#     del i['query_toks_no_value']
#     del i['query_toks']
#     del i['question_toks']
#     print(i)

In [215]:
len(data)

8659

In [348]:
for x in range(1482):
    if 'count(*)' in data[x]['query']:
        del data[x]

In [349]:
for x in range(1482):
    if 'ORDER BY' in data[x]['query']:
        del data[x]

In [350]:
for x in range(1482):
    if 'BETWEEN' in data[x]['query']:
        del data[x]

In [351]:
for x in range(1482):
    if 'JOIN' in data[x]['query']:
        del data[x]

In [352]:
for x in range(1482):
    if 'AS' in data[x]['query']:
        del data[x]

In [353]:
for x in range(1482):
    if 'COUNT(*)' in data[x]['query']:
        del data[x]

In [354]:
for x in range(1482):
    if 'GROUP BY' in data[x]['query']:
        del data[x]

In [355]:
for x in range(1482):
    if 'NOT IN' in data[x]['query']:
        del data[x]

In [356]:
for x in range(1482):
    if '*' in data[x]['query']:
        del data[x]

In [357]:
for x in range(1482):
    if 'LIKE' in data[x]['query']:
        del data[x]

In [ ]:
for x in range(1482):
    if 'LIKE' in data[x]['query']:
        del data[x]

In [358]:
with open("train_data.json", "w") as train_data_file:
    json.dump(data, train_data_file, indent=4)

# 將資料轉存為json

In [359]:
len(data)

4244

In [125]:
import json 

with open('train_data.json') as f:
    json = json.load(f)

In [126]:
data = json.copy()

In [149]:
len(data)

4152

In [144]:
a = []
for x in range(2122):
    if data[x]['sql']['where'] != a:
        for i in [x]:
            if data[i]['sql']['where'][0][1] != 2 :
                for j in [i]:
                    if data[j]['sql']['where'][0][1] != 3 :
                        for k in [j]:
                            if data[k]['sql']['where'][0][1] != 4 :
                                for l in [k]:
                                    if data[l]['sql']['where'][0][1] != 7 :
                                        del data[l]
# 去除wikiSQL所沒有的cond

In [ ]:
a = []
for x in range(2122):
    if data[x]['sql']['where'] != a:
        for i in [x]:
            print(data[i]['sql']['where'][0][1])

In [151]:
import json 
with open("train_data_1.json", "w") as train_data_file_1:
    json.dump(data, train_data_file_1, indent=4)

In [38]:
# sql文件夹路径
sql_path = '/project/xt121-group11/Data prepare/CSpider/database/'
 
# sql文件名
sql_file = 'sql文件名' + '/'
 
# 读取 sql 文件文本内容
sql = open(sql_path + sql_file + 'schema.sql', 'r', encoding = 'utf8')
sqltxt = sql.readlines()
# 此时 sqltxt 为 list 类型
 
# 读取之后关闭文件
sql.close()
 
# list 转 str
sql = "".join(sqltxt)

In [182]:
cspider_data = [ {'db_id': 'sports_competition',
  'question': '哪些位置既有得分超过20又有得分低于10的球员 ？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 2]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': {'orderBy': [],
    'from': {'table_units': [['table_unit', 2]], 'conds': []},
    'union': None,
    'except': None,
    'groupBy': [],
    'limit': None,
    'intersect': None,
    'where': [[False, 4, [0, [0, 18, False], None], 10.0, None]],
    'having': [],
    'select': [False, [[0, [0, [0, 13, False], None]]]]},
   'where': [[False, 3, [0, [0, 18, False], None], 20.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 13, False], None]]]]},
  'query': 'SELECT POSITION FROM player WHERE Points  >  20 INTERSECT SELECT POSITION FROM player WHERE Points  <  10'}]

for cspider_dict in cspider_data:
    temp = {"phase":1,"table_id":"", "question":"","sql":""}
    for key,val in cspider_dict.items():
#         print(key,val)
        
        if(key == "db_id"):
            if 'UNION' in cspider_data[0]['query']:
                temp["table_id"] = cspider_data[0]["db_id"] + '['+ str(cspider_data[0]["sql"]['from']['table_units'][0][1]) + ']' + '[' + str(cspider_data[0]["sql"]['union']['from']['table_units'][0][1]) + ']'
            else:
                temp["table_id"] = cspider_data[0]["db_id"] + '['+ str(cspider_data[0]["sql"]['from']['table_units'][0][1]) + ']'            
        elif(key == "question"):
            temp["question"] = cspider_data[0]["question"]
        
        
        elif(key == "sql"):
            selAry = []
            if 'INTERSECT' in cspider_data[0]['query']:
                for col in val['intersect']["select"][1]:
                    selAry.append(col[1][1][1])
                for col in val["select"][1]:
                    selAry.append(col[1][1][1])
            elif 'UNION' in cspider_data[0]['query']:
                for col in val['union']["select"][1]:
                    selAry.append(col[1][1][1])
                for col in val["select"][1]:
                    selAry.append(col[1][1][1])
            else:
                for col in val["select"][1]:
                    selAry.append(col[1][1][1])
                    
                    
            condsAry = []           
            if 'INTERSECT' in cspider_data[0]['query']:
                for conds in val['intersect']["where"]:
                    condsAry.append([
                        conds[2][1][1],
                        conds[1],
                        conds[3]
                     ])
                for conds in val["where"]:
                    condsAry.append([
                        conds[2][1][1],
                        conds[1],
                        conds[3]
                     ])
            else:
                for conds in val["where"]:
                    if len(conds) > 4: # 排除or / and 
                        condsAry.append([
                            conds[2][1][1],
                            conds[1],
                            conds[3]
                             ])
                    else:
                        pass
                
            aggAry = []
            for col in val["select"][1]:
                aggAry.append(col[0])
                
            temp["sql"]= {
                  "sel":selAry,
                  "conds":condsAry,
                  "agg":aggAry
               }
            for j in range(len(temp['sql']['conds'])):
                if temp['sql']['conds'][j][1] == 2:
                    temp['sql']['conds'][j][1] = 0
                elif temp['sql']['conds'][j][1] == 3:
                    temp['sql']['conds'][j][1] = 1
                elif temp['sql']['conds'][j][1] == 4:
                    temp['sql']['conds'][j][1] = 2
                elif temp['sql']['conds'][j][1] == 7:
                    temp['sql']['conds'][j][1] = 3
print(temp)

{'phase': 1, 'table_id': 'sports_competition[2]', 'question': '哪些位置既有得分超过20又有得分低于10的球员 ？', 'sql': {'sel': [13, 13], 'conds': [[18, 2, 10.0], [18, 1, 20.0]], 'agg': [0]}}

In [ ]:
SELECT POSITION FROM player WHERE Points  >  20 INTERSECT SELECT POSITION FROM player WHERE Points  <  10

In [152]:
import json 

with open('train_data_1.json') as f:
    jsonFile = json.load(f)

In [153]:
data = jsonFile.copy()

In [154]:
data

[{'db_id': 'department_management',
  'question': '列出每个部门的创建年份、名称和预算。',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False,
    [[0, [0, [0, 3, False], None]],
     [0, [0, [0, 2, False], None]],
     [0, [0, [0, 5, False], None]]]]},
  'query': 'SELECT creation ,  name ,  budget_in_billions FROM department'},
 {'db_id': 'department_management',
  'question': '部门的最高预算和最低预算是多少？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False,
    [[1, [0, [0, 5, False], None]], [2, [0, [0, 5, False], None]]]]},
  'query': 'SELECT max(budget_in_billions) ,  min(budget_in_billions) FROM department'},
 {'db_id': 'department_management',
  'question': '出生在“浙江”州以外的人的名字是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 7, [0, [0, 9, False], None], '"浙江"', None]],
   'having': [],
   'select': [False, [[0, [0, [0, 8, False], None]]]]},
  'query': "SELECT name FROM head WHERE born_state != '浙江'"},
 {'db_id': 'department_management',
  'question': '有多少个代理状态？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 2]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[3, [0, [0, 13, True], None]]]]},
  'query': 'SELECT count(DISTINCT temporary_acting) FROM management'},
 {'db_id': 'farm',
  'question': '什么主持人所主持比赛的主题不是“外星人”？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 2]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 7, [0, [0, 19, False], None], '"外星人"', None]],
   'having': [],
   'select': [False, [[0, [0, [0, 21, False], None]]]]},
  'query': "SELECT Hosts FROM farm_competition WHERE Theme !=  '外星人'"},
 {'db_id': 'farm',
  'question': '返回主题不是“外星人”的竞赛的主持人？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 2]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 7, [0, [0, 19, False], None], '"外星人"', None]],
   'having': [],
   'select': [False, [[0, [0, [0, 21, False], None]]]]},
  'query': "SELECT Hosts FROM farm_competition WHERE Theme !=  '外星人'"},
 {'db_id': 'farm',
  'question': '拥有超过5000匹马的农场中，平均的工作马的数量是多少？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 3, [0, [0, 9, False], None], 5000.0, None]],
   'having': [],
   'select': [False, [[5, [0, [0, 10, False], None]]]]},
  'query': 'SELECT avg(Working_Horses) FROM farm WHERE Total_Horses  >  5000'},
 {'db_id': 'farm',
  'question': '给出有5000多匹马的农场的平均工作马的数量。',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 3, [0, [0, 9, False], None], 5000.0, None]],
   'having': [],
   'select': [False, [[5, [0, [0, 10, False], None]]]]},
  'query': 'SELECT avg(Working_Horses) FROM farm WHERE Total_Horses  >  5000'},
 {'db_id': 'farm',
  'question': '所有农场中，奶牛的最大和最小数量是多少？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False,
    [[1, [0, [0, 14, False], None]], [2, [0, [0, 14, False], None]]]]},
  'query': 'SELECT max(Cows) ,  min(Cows) FROM farm'},
 {'db_id': 'farm',
  'question': '返回所有农场奶牛的最大和最小数量。',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 1]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False,
    [[1, [0, [0, 14, False], None]], [2, [0, [0, 14, False], None]]]]},
  'query': 'SELECT max(Cows) ,  min(Cows) FROM farm'},
 {'db_id': 'farm',
  'question': '城市有多少种不同的地位？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[3, [0, [0, 3, True], None]]]]},
  'query': 'SELECT count(DISTINCT Status) FROM city'},
 {'db_id': 'farm',
  'question': '统计不同地位的数量。',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[3, [0, [0, 3, True], None]]]]},
  'query': 'SELECT count(DISTINCT Status) FROM city'},
 {'db_id': 'farm',
  'question': '显示人口大于1500和小于500的城市的状态。',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': {'orderBy': [],
    'from': {'table_units': [['table_unit', 0]], 'conds': []},
    'union': None,
    'except': None,
    'groupBy': [],
    'limit': None,
    'intersect': None,
    'where': [[False, 4, [0, [0, 5, False], None], 500.0, None]],
    'having': [],
    'select': [False, [[0, [0, [0, 3, False], None]]]]},
   'where': [[False, 3, [0, [0, 5, False], None], 1500.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 3, False], None]]]]},
  'query': 'SELECT Status FROM city WHERE Population  >  1500 INTERSECT SELECT Status FROM city WHERE Population  <  500'},
 {'db_id': 'farm',
  'question': '人口超过1500的城市和人口低于500的城市，其状态分别是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': {'orderBy': [],
    'from': {'table_units': [['table_unit', 0]], 'conds': []},
    'union': None,
    'except': None,
    'groupBy': [],
    'limit': None,
    'intersect': None,
    'where': [[False, 4, [0, [0, 5, False], None], 500.0, None]],
    'having': [],
    'select': [False, [[0, [0, [0, 3, False], None]]]]},
   'where': [[False, 3, [0, [0, 5, False], None], 1500.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 3, False], None]]]]},
  'query': 'SELECT Status FROM city WHERE Population  >  1500 INTERSECT SELECT Status FROM city WHERE Population  <  500'},
 {'db_id': 'farm',
  'question': '查找人口大于1500或小于500的城市的官方名称。',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 3, [0, [0, 5, False], None], 1500.0, None],
    'or',
    [False, 4, [0, [0, 5, False], None], 500.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 2, False], None]]]]},
  'query': 'SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500'},
 {'db_id': 'farm',
  'question': '人口超过1500或少于500的城市的官方名称是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 3, [0, [0, 5, False], None], 1500.0, None],
    'or',
    [False, 4, [0, [0, 5, False], None], 500.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 2, False], None]]]]},
  'query': 'SELECT Official_Name FROM city WHERE Population  >  1500 OR Population  <  500'},
 {'db_id': 'farm',
  'question': '显示不属于“乡村”的城市的人口普查排名。',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 7, [0, [0, 3, False], None], '"乡村"', None]],
   'having': [],
   'select': [False, [[0, [0, [0, 6, False], None]]]]},
  'query': 'SELECT Census_Ranking FROM city WHERE Status !=  "乡村"'},
 {'db_id': 'farm',
  'question': '没有“乡村”状态的城市的人口普查排名是多少？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 7, [0, [0, 3, False], None], '"乡村"', None]],
   'having': [],
   'select': [False, [[0, [0, [0, 6, False], None]]]]},
  'query': 'SELECT Census_Ranking FROM city WHERE Status !=  "乡村"'},
 {'db_id': 'student_assessment',
  'question': '列出参加过一些课程的学生的ID？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 6]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[0, [0, [0, 30, False], None]]]]},
  'query': 'SELECT student_id FROM student_course_attendance'},
 {'db_id': 'student_assessment',
  'question': '所有参加过至少一门课程的学生的ID是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 6]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[0, [0, [0, 30, False], None]]]]},
  'query': 'SELECT student_id FROM student_course_attendance'},
 {'db_id': 'student_assessment',
  'question': '找到评估码为“通过”的候选人ID？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 8]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 38, False], None], '"通过"', None]],
   'having': [],
   'select': [False, [[0, [0, [0, 35, False], None]]]]},
  'query': 'SELECT candidate_id FROM candidate_assessments WHERE asessment_outcome_code = "通过"'},
 {'db_id': 'student_assessment',
  'question': '成绩代码为及格的候选人的ID是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 8]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 38, False], None], '"通过"', None]],
   'having': [],
   'select': [False, [[0, [0, [0, 35, False], None]]]]},
  'query': 'SELECT candidate_id FROM candidate_assessments WHERE asessment_outcome_code = "通过"'},
 {'db_id': 'student_assessment',
  'question': '那些注册301课程的学生的ID是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 6]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 31, False], None], 301.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 30, False], None]]]]},
  'query': 'SELECT student_id FROM student_course_attendance WHERE course_id  =  301'},
 {'db_id': 'student_assessment',
  'question': '注册301课程的学生的ID是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 6]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 31, False], None], 301.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 30, False], None]]]]},
  'query': 'SELECT student_id FROM student_course_attendance WHERE course_id  =  301'},
 {'db_id': 'student_assessment',
  'question': '注册课程或参加课程的学生的ID是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 5]], 'conds': []},
   'union': {'orderBy': [],
    'from': {'table_units': [['table_unit', 6]], 'conds': []},
    'union': None,
    'except': None,
    'groupBy': [],
    'limit': None,
    'intersect': None,
    'where': [],
    'having': [],
    'select': [False, [[0, [0, [0, 30, False], None]]]]},
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[0, [0, [0, 27, False], None]]]]},
  'query': 'SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance'},
 {'db_id': 'student_assessment',
  'question': '注册或参加课程的学生的ID是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 5]], 'conds': []},
   'union': {'orderBy': [],
    'from': {'table_units': [['table_unit', 6]], 'conds': []},
    'union': None,
    'except': None,
    'groupBy': [],
    'limit': None,
    'intersect': None,
    'where': [],
    'having': [],
    'select': [False, [[0, [0, [0, 30, False], None]]]]},
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[0, [0, [0, 27, False], None]]]]},
  'query': 'SELECT student_id FROM student_course_registrations UNION SELECT student_id FROM student_course_attendance'},
 {'db_id': 'student_assessment',
  'question': '查找ID为121的学生注册或参加的课程的ID？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 5]], 'conds': []},
   'union': {'orderBy': [],
    'from': {'table_units': [['table_unit', 6]], 'conds': []},
    'union': None,
    'except': None,
    'groupBy': [],
    'limit': None,
    'intersect': None,
    'where': [[False, 2, [0, [0, 30, False], None], 121.0, None]],
    'having': [],
    'select': [False, [[0, [0, [0, 31, False], None]]]]},
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 27, False], None], 121.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 28, False], None]]]]},
  'query': 'SELECT course_id FROM student_course_registrations WHERE student_id = 121 UNION SELECT course_id FROM student_course_attendance WHERE student_id = 121'},
 {'db_id': 'student_assessment',
  'question': 'ID是121的学生所注册或参加的课程的ID是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 5]], 'conds': []},
   'union': {'orderBy': [],
    'from': {'table_units': [['table_unit', 6]], 'conds': []},
    'union': None,
    'except': None,
    'groupBy': [],
    'limit': None,
    'intersect': None,
    'where': [[False, 2, [0, [0, 30, False], None], 121.0, None]],
    'having': [],
    'select': [False, [[0, [0, [0, 31, False], None]]]]},
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 27, False], None], 121.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 28, False], None]]]]},
  'query': 'SELECT course_id FROM student_course_registrations WHERE student_id = 121 UNION SELECT course_id FROM student_course_attendance WHERE student_id = 121'},
 {'db_id': 'bike_1',
  'question': '给我最高温度高于85的日期。',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 3]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 3, [0, [0, 24, False], None], 85.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 23, False], None]]]]},
  'query': 'SELECT date FROM weather WHERE max_temperature_f  >  85'},
 {'db_id': 'bike_1',
  'question': '最高温度高于85的日期是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 3]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 3, [0, [0, 24, False], None], 85.0, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 23, False], None]]]]},
  'query': 'SELECT date FROM weather WHERE max_temperature_f  >  85'},
 {'db_id': 'bike_1',
  'question': '纬度低于37.5的车站名称是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 4, [0, [0, 3, False], None], 37.5, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 2, False], None]]]]},
  'query': 'SELECT name FROM station WHERE lat  <  37.5'},
 {'db_id': 'bike_1',
  'question': '纬度小于37.5的所有车站的名称是什么？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 4, [0, [0, 3, False], None], 37.5, None]],
   'having': [],
   'select': [False, [[0, [0, [0, 2, False], None]]]]},
  'query': 'SELECT name FROM station WHERE lat  <  37.5'},
 {'db_id': 'bike_1',
  'question': '“长沙”市车站平均纬度和经度是多少？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 6, False], None], '"长沙"', None]],
   'having': [],
   'select': [False,
    [[5, [0, [0, 3, False], None]], [5, [0, [0, 4, False], None]]]]},
  'query': 'SELECT avg(lat) ,  avg(long) FROM station WHERE city  =  "长沙"'},
 {'db_id': 'bike_1',
  'question': '“长沙”市的平均纬度和经度是多少？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 6, False], None], '"长沙"', None]],
   'having': [],
   'select': [False,
    [[5, [0, [0, 3, False], None]], [5, [0, [0, 4, False], None]]]]},
  'query': 'SELECT avg(lat) ,  avg(long) FROM station WHERE city  =  "长沙"'},
 {'db_id': 'bike_1',
  'question': 'ID为636的自行车的路线的总时间和最大持续时间是多少？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 2]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 20, False], None], 636.0, None]],
   'having': [],
   'select': [False,
    [[4, [0, [0, 13, False], None]], [1, [0, [0, 13, False], None]]]]},
  'query': 'SELECT sum(duration) ,  max(duration) FROM trip WHERE bike_id  =  636'},
 {'db_id': 'bike_1',
  'question': 'ID为636自行车的所有路线的总时间和最大持续时间是多少？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 2]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [[False, 2, [0, [0, 20, False], None], 636.0, None]],
   'having': [],
   'select': [False,
    [[4, [0, [0, 13, False], None]], [1, [0, [0, 13, False], None]]]]},
  'query': 'SELECT sum(duration) ,  max(duration) FROM trip WHERE bike_id  =  636'},
 {'db_id': 'bike_1',
  'question': '从路线记录，找出不同的自行车的数量。',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 2]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[3, [0, [0, 20, True], None]]]]},
  'query': 'SELECT count(DISTINCT bike_id) FROM trip'},
 {'db_id': 'bike_1',
  'question': '有多少个不同的自行车ID？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 2]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[3, [0, [0, 20, True], None]]]]},
  'query': 'SELECT count(DISTINCT bike_id) FROM trip'},
 {'db_id': 'bike_1',
  'question': '车站所处的不同城市的数量是多少？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],
   'having': [],
   'select': [False, [[3, [0, [0, 6, True], None]]]]},
  'query': 'SELECT count(DISTINCT city) FROM station'},
 {'db_id': 'bike_1',
  'question': '这些车站在多少个不同的城市？',
  'sql': {'orderBy': [],
   'from': {'table_units': [['table_unit', 0]], 'conds': []},
   'union': None,
   'except': None,
   'groupBy': [],
   'limit': None,
   'intersect': None,
   'where': [],

In [ ]:
# cspider_data = [{
#         "db_id": "department_management", 
#         "question": "列出“市场”或“财务”部门的创建年份、名称和预算。", 
#         "sql": {
#             "orderBy": [], 
#             "from": {
#                 "table_units": [
#                     [
#                         "table_unit", 
#                         0
#                     ]
#                 ], 
#                 "conds": []
#             }, 
#             "union": "null", 
#             "except": "null", 
#             "groupBy": [], 
#             "limit": "null", 
#             "intersect": "null", 
#             "where": [
#                 [
#                     "false", 
#                     2, 
#                     [
#                         0, 
#                         [
#                             0, 
#                             4, 
#                             "false"
#                         ], 
#                         "null"
#                     ], 
#                     "\"管理\"", 
#                     "null"
#                 ], 
#                 "or", 
#                 [
#                     "false", 
#                     2, 
#                     [
#                         0, 
#                         [
#                             0, 
#                             4, 
#                             "false"
#                         ], 
#                         "null"
#                     ], 
#                     "\"金融\"", 
#                     "null"
#                 ]
#             ], 
#             "having": [], 
#             "select": [
#                 "false", 
#                 [
#                     [
#                         0, 
#                         [
#                             0, 
#                             [
#                                 0, 
#                                 3, 
#                                 "false"
#                             ], 
#                             "null"
#                         ]
#                     ], 
#                     [
#                         0, 
#                         [
#                             0, 
#                             [
#                                 0, 
#                                 2, 
#                                 "false"
#                             ], 
#                             "null"
#                         ]
#                     ], 
#                     [
#                         0, 
#                         [
#                             0, 
#                             [
#                                 0, 
#                                 5, 
#                                 "false"
#                             ], 
#                             "null"
#                         ]
#                     ]
#                 ]
#             ]
#         }, 
#         "query": "SELECT creation ,  name ,  budget_in_billions FROM department WHERE dept_name  =  '管理' OR dept_name  =  '金融'"
#     }]

# wikisql_data = {}

# for cspider_dict in cspider_data:
#     temp = {"phase":1, "question":"","sql":"","table_id":"1-10007452-3"}
#     for key,val in cspider_dict.items():
# #         print(key,val)
#         if(key == "question"):
#             temp["question"] = key
#         elif(key == "sql"):
#             selAry = []
#             for col in val["select"][1]:
#                 selAry.append(col[1][1][1])
#             condsAry = []
#             for conds in val["where"]:
#                 if len(conds) > 4: # 排除or / and 
#                     print(conds[2][1][1])
#                     print(conds[3])
#                     condsAry.append([
#                         conds[2][1][1],
#                         0,
#                         conds[3]
#                      ])
#                 else:
#                     print(conds)
#             temp["sql"]= {
#                   "conds":condsAry,
#                   "sel":selAry,
#                   "agg":0
#                }
# print(temp)
# print(cspider_data[0]["question"])